<%- include('../partials/metadata')  %> 
<%- include('../partials/header')  %> 

    
    <main>      

        <div class="logo1">
            <a href="/">
                <img src="\images\completo-XLR8-mediano.png">
            </a>
        </div>            
                
        <h1 class="lista-usuarios-titulo"> Perfil De Usuario </h1>
        
        <h1 class="lista-usuarios-titulo"> Bienvenido/a: <b> <%= userToLog.name  %>  <%= userToLog.last_name  %> </b> </h1>
        <section class="form-register">

            <div class="datos-user">
                <ul>
                    <li>
                        <h4> Nombre:    <%= userToLog.name  %> </h4>
                        <h4> Apellido:  <%= userToLog.last_name  %> </h4>
                        <h4> E-Mail:    <%= userToLog.email  %> </h4>
                        <h4> Celular:   <%= userToLog.phone  %> </h4>
                        <h4> Fecha de Nacimiento:   <%= userToLog.birthday  %> </h4>
                        <h4> Genero:    <%= userToLog.genre  %> </h4> 
        
                    </li>
                </ul>

            </div>

            
                    
        </section>
        
        <div class="profile-accesos">
            <% if (userToLog.id_users_categories == 2) { %>
                <div>                    
                    <div  class="menu-profile">                       
                        <form action="/users/edit/<%= userToLog.id %>" method="GET">
                            <button type="submit" class="boton-admin-profile" > EDITAR USUARIO </button>                               
                        </form>   

                        <form action="/users/delete/<%= userToLog.id %>?_method=DELETE" method="POST">
                            <button type="submit" class="boton-admin-profile" > BORRAR USUARIO </button>                               
                        </form>

                        <form action="/users/logout" method="GET">   
                            <button type="submit" class="boton-admin-profile" > CERRAR SESION </button>                            
                        </form>                                                            
                    </div> 

                    <br>
                    <br> 
                    <h3 class="fieldset-admin"> MENU DE ADMINISTRADOR </h3>

                    <div  class="menu-profile">                        
                        <fieldset class="fieldset-admin">
                            <form action="../products/create" method="GET">
                                <button type="submit" class="boton-admin-profile" > CREAR PRODUCTO </button>
                            </form>
    
                            <form action="../products" method="GET">                                   
                                <button type="submit" class="boton-admin-profile" > LISTA PRODUCTOS </button>
                            </form>
    
                            <form action="./" method="GET">
                                <button type="submit" class="boton-admin-profile" > LISTA DE USUARIOS </button>
                            </form>          
                        </fieldset>
                    </div>               

                        
                        
                    
                </div>
            <% } else { %> 
                <div>                    
                    <div  class="menu-profile">                       
                        <form action="/users/edit/<%= userToLog.id %>" method="GET">
                            <button type="submit" class="boton-admin-profile" > EDITAR USUARIO </button>                               
                        </form>   

                        <form action="/users/delete/<%= userToLog.id %>?_method=DELETE" method="POST">
                            <button type="submit" class="boton-admin-profile" > BORRAR USUARIO </button>                               
                        </form>

                        <form action="/users/logout" method="GET">   
                            <button type="submit" class="boton-admin-profile" > CERRAR SESION </button>                            
                        </form>
                                                            
                    </div> 
                </div>
    
            <% } %>

        </div>

    </main>

<%- include('../partials/footer')  %>  